<!-- Author: Pirakalan -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Bootstrap template source: http://getbootstrap.com/css/ -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<style>
		.navbar {
			margin-bottom: 0;
			border-radius: 0;
		}
		
		footer {
			background-color: #f2f2f2;
			padding: 25px;
		}
	  </style>
	</head>

	<body>
		<script>
			function validateInput(username="", checkpass=false) {
				var form = document.forms["resetPassword"];
				if (checkpass) {
					if (form["password"].value.length <= 5){
						document.getElementById("output").innerHTML = "Please enter a password with a length greater than 5 characters"
						return false;
					} else if (form["password"].value != form["passwordconfirm"].value){
						document.getElementById("output").innerHTML = "The passwords do not match"
						return false;
					}
				} else {
					if (form["val"].value.length == ""){
						document.getElementById("output").innerHTML = "Please enter value"
						return false;
					}
				}

				if (username != ""){
					form["username"].value = username;
				}
				return true;
			}
		</script>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			 	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Main</a></li>
					<li><a href="/search">Weather Search</a></li>
				</ul>
				{{if eq .UserStatus "loggedin"}}
				<ul class="nav navbar-nav navbar-right">
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
				{{ end }}

				{{if eq .UserStatus ""}}
				<ul class="nav navbar-nav navbar-right">
				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
				{{ end }}
			</div>
		  </div>
		</nav>

		<br>
		<div class="container-fluid">
			{{if eq .Action "username"}}
				<h3>Password Reset</h3><br>
				<form class="form-horizontal" action="/passwordreset" name="resetPassword" onsubmit="return validateForm()" method="post">
					<div class="form-group">
						<label class="col-sm-2 control-label">Enter username</label>
						<div class="col-sm-10">
							<input type="text" name="val"><br>
						</div>
						<input type="hidden" name="result" value="usernamesubmitted">
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default" type="submit">Submit</button><br><br>
						</div>
					</div>
				</form>
			{{end}}

			{{if eq .Action "message"}}
				<h3>{{.Result}}<h3>
			{{end}}

			{{if eq .Action "question"}}
				<h3>Password Reset</h3><br>
				<form class="form-horizontal" action="/passwordreset" name="resetPassword" onsubmit="return validateInput(username='{{.Username}}')" method="post">
					<div class="form-group">
						<label class="col-sm-2 control-label">{{.Result}}</label>
						<div class="col-sm-10">
							<input type="password" name="val"><br>
						</div>
						<input type="hidden" name="username">
						<input type="hidden" name="result" value="answersubmitted">
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default" type="submit">Submit</button><br><br>
						</div>
					</div>
				</form>
			{{end}}

			{{if eq .Action "resetpass"}}
				<h3>Password Reset</h3><br>
				<form class="form-horizontal" action="/passwordreset" name="resetPassword" onsubmit="return validateInput(username='{{.Username}}',checkpass=true)" method="post">
					<div class="form-group">
						<label class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" name="password"><br>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Enter password again</label>
						<div class="col-sm-10">
							<input type="password" name="passwordconfirm"><br>
						</div>
						<input type="hidden" name="username">
						<input type="hidden" name="result" value="passwordsubmitted">
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default" type="submit">Submit</button><br><br>
						</div>
					</div>
				</form>
			{{end}}

			<div style="color:red" id="output"></div>
		</div>
	</body>
</html>